ion-toolbar {

  ion-title {
    display: inline-block;
    line-height: 50px;
  }

  img {
    float: right;
  }
}

ion-content {
  ion-text {
    p.date, p.time {
      position: relative;
      left: 260px;
    }
    p.time {
      bottom: 10px;
    }
  }
}