.filebtn {
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
}

ion-item {
  margin-top: 30px;
}

div.ion-text-center {
  margin-top: 20px;
}

ion-toolbar {

  ion-title {
    display: inline-block;
    line-height: 50px;
  }

  img {
    float: right;
  }
}

ion-content {
  ion-text {
    p.date, p.time {
      position: relative;
      left: 260px;
    }
    p.time {
      bottom: 10px;
    }
  }

  form {
    position: relative;
    bottom: 50px;
  }
}