.filebtn {
  opacity: 0;
  position: absolute;
  top: -100em;
  left: -100em;
}

ion-item {
  margin-top: 30px;
}

div.ion-text-center {
  margin-top: 20px;
}

ion-toolbar {

  ion-title {
    display: inline-block;
    line-height: 50px;
  }

  img {
    float: right;
  }
}