<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" >
      <ion-label>Dashboard</ion-label>
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>
  
    <ion-tab-button tab="schedule">
      <ion-label>Schedule</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-label>History</ion-label>
      <ion-icon name="time"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="self-health-check">
      <ion-label>Self health check</ion-label>
      <ion-icon name="medkit"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
