<ion-header>
  <ion-toolbar>
    <ion-title>Schedule Appointment</ion-title>
    <img src="../../assets/images/app_img_1.png" width="50px" height="50px">
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
    <p class="date">Date: {{ today | date: 'dd/mm/yy' }}</p>
    <p class="time">Time: {{ today | date: 'HH:mm' }}</p>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">

            <ion-item>  
              <ion-label>Select the hospital/Doctors of your choice</ion-label>
              <ion-select [(ngModel)]="isType" (ionChange)="nearbyPlace()" name="isType">
                <ion-select-option value="hospital">Hospital</ion-select-option>
                <ion-select-option value="doctor">Doctor</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Available Doctors</ion-label>
              <ion-select>
                <ion-select-option class="ion-text-wrap" *ngFor="let doctor of placeList">{{ doctor.name }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Select your day for an appointment</ion-label>
              <ion-datetime value="2020-04-22" placeholder="Select your day for an appointment"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Select your time</ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-textarea placeholder="Description of your health issue" clearOnEdit="true"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label>Please upload suitable medical records</ion-label>
              <button ion-button (click)="uploadFile()">Upload</button>
            </ion-item>

            <div #map id="map"></div>
          </div>

          <div class="ion-text-center">
            <ion-button size="large" type="submit" expand="block">Submit</ion-button>
          </div>

          <div class="ion-text-center">
            <ion-button size="large" type="cancel" (click)="cancel()" expand="block" color="light">Cancel</ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<!-- [disabled]="!form.valid" -->