ion-toolbar {

  ion-title {
    display: inline-block;
    line-height: 50px;
  }

  img {
    float: right;
  }
}

ion-content {
  ion-text {
    p.date, p.time {
      position: relative;
      left: 260px;
    }
    p.time {
      bottom: 10px;
    }
  }

  form {
    position: relative;
    bottom: 50px;
  }

  ion-label.file,
  ion-label.appointment {
    position: relative;
    top: 50px;
  }

  ion-label.file {
    right: 15px;
  }

  ion-label.appointment {
    right: 5px;
  }

  ion-item {
    input.input-file {
      position: relative;
      left: 10px;
    }

    ion-button.upload-button {
      position: relative;
      right: 100px;
    }
  }
}

ion-item {
  margin-top: 50px;
}

div.ion-text-center {
  margin-top: 30px;
}