ion-toolbar {

  ion-title {
    display: inline-block;
    line-height: 50px;
  }

  img {
    float: right;
  }
}

ion-content {
  ion-text {
    p.date, p.time {
      position: relative;
      left: 260px;
    }
    p.time {
      bottom: 10px;
    }
  }

  form {
    position: relative;
    bottom: 50px;
  }
}
ion-item {
  margin-top: 50px;
}

div.ion-text-center {
  margin-top: 30px;
}