<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="ion-margin-start">
    <img src="../../assets/images/avatar.svg">
  </ion-avatar>
  <ion-label color="primary" class="username">Welcome {{ username }}! </ion-label>

  <ion-menu side="start" menuId="main" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="editProfile()">Edit profile</ion-item>
        <ion-item button (click)="feedback()">Feedback</ion-item>
        <ion-item button (click)="help()">Help</ion-item>
        <ion-item button (click)="settings">Settings</ion-item>
        <ion-item button (click)="signOut()">Sign out</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-label>New appointment</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-label>History</ion-label>
        <ion-icon name="time"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="self-health-check">
        <ion-label>Self health check</ion-label>
        <ion-icon name="medkit"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>

<ion-router-outlet id="main"></ion-router-outlet>
