<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/images/app_img_1.png" width="50px" height="50px">
    <ion-title class="ion-text-center">
      Care on Call App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Care on Call App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header color="secondary">
      Features of Care on Call App
    </ion-list-header>
  </ion-list>

  <section>
    <ul>
      <li>Appointment scheduling</li>
      <li>Video conferencing</li>
      <li>Remote treatment plans</li>
      <li>Chats/messaging</li>
      <li>Billing</li>
      <li>Online forms</li>
    </ul>
  </section>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <div class="ion-text-center">
            <h3>Sign In</h3>
          </div>

          <div class="ion-text-center">

            <ion-item>
              <ion-input name="username" type="text" placeholder="Username" [(ngModel)]="username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="password" type="password" placeholder="password" ngModel required></ion-input>
            </ion-item>

          </div>

          <div>
            <ion-button size="large" type="submit" [disabled]="!form.valid" expand="block">Submit</ion-button>
          </div>

        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <div class="ion-text-center">
          If you don't have an account, please <a routerLink="/register">register</a> here!
        </div>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
