<ion-header>
  <ion-toolbar>
    <ion-title>self-health-check</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let message of messages | async">
    <div class="message" [class.from]="message.sentBy === 'bot'" [class.to]="message.sentBy === 'user'">
      {{ message.content }}
    </div>
  </ng-container>
     
  <ion-item>
    <ion-label>Your Message</ion-label>
    <ion-input [(ngModel)]="formValue" (keyup.enter)="sendMessages()" type="text"></ion-input>
  </ion-item>
  <ion-button (click)="sendMessages()">Send</ion-button>
</ion-content>
