<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
    <p class="date">Date: {{ today | date: 'dd/mm/yy' }}</p>
    <p class="time">Time: {{ today | date: 'HH:mm' }}</p>
  </ion-text>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

          <div class="ion-text-center">

            <ion-item>
              <ion-input name="username" type="text" placeholder="Username" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="phone" type="text" placeholder="Phone Number" ngModel required></ion-input> 
            </ion-item>

            <ion-item>
              <ion-input name="address" type="text" placeholder="Address" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="pincode" type="text" placeholder="Pin code" ngModel required></ion-input>
            </ion-item>

          </div>

          <div class="ion-text-center">
            <ion-button size="large" type="submit" [disabled]="!form.valid" expand="block">Submit</ion-button>
          </div>

          <div class="ion-text-center">
            <ion-button size="large" type="cancel" (click)="cancel()" expand="block" color="light">Cancel</ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
