ion-button{
    --background: #062f77;
}

ion-item {
  margin-top: 30px;
}
  
div.ion-text-center {
  margin-top: 20px;
}

ion-content {
  ion-text {
    p.date, p.time {
      position: relative;
      left: 260px;
    }
    p.time {
      bottom: 10px;
    }
  }

  form {
    position: relative;
    bottom: 50px;
  }
}